
  <%- include('../partials/header') %>
  <main>
   
    <div class="main-news container">
      
      <% if (mainNews) { %>
        
      <div class="main-news-area1" getItem="<%=mainNews.id%>">
        <div class="main-news-subtitle"><p><%=mainNews.subTitle%></p></div>
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><div class="main-news-title"><h1><%=mainNews.title%></h1></div></a> 
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><div class="main-news-p"><p><%=mainNews.summaryParagraph%></p></div></a> 
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"> <div class="main-news-comment"><img src="images/forum.svg" alt="Faça um comentário na notícia">Comente!</div></a>
      </div>
      <div class="main-news-area2">
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><img src="media/<%=mainNews.img%>" alt="<%=mainNews.title%>"></a>
      </div>
      <% } %>
    </div>
    
    <div class="area-sections-aside container">
      <div class="area-sections">
        <section class="slide ">
          <div class="slider">
            <div class="slider--controls">
                <div class="slider--control" onclick="goPrev()" ><img src="images/seta-expandir.png" style="rotate: 90deg;" alt=""></div>
                <div class="slider--control" onclick="goNext()"><img src="images/seta-expandir.png" style="rotate: -90deg;" alt=""></div>
            </div>
            <div class="slider--width">
              <%slideShow.forEach(function(item){%>
                <div class="slider--item slide-one" getItem="<%=item.id%>">
                  <a href="/news/<%=item.title.split(' ').join('-')%>">
                    <div class="slider--item-content-1" style="background-image: url('media/<%=item.img%>');">
                      <div class="slider--item-subtitle-1"><%=item.subTitle%></div>
                      <div class="slider--item-title-1">
                        <h2><%=item.title%></h2>
                      </div>
                    </div>
                  </a>
                </div>
              <%});%>
            </div>
          </div>
        </section>
        <section class="news-week">
          <div class="news-week-titlemain">
            Mais Notícias
          </div>
          <div class="news-week-content">
            <%newsShow.forEach(function(item){%>
            <div class="news-week-1" getItem="<%=item.id%>">
              <a href="/news/<%=item.title.split(' ').join('-')%>">
                <div class="news-week-1-img"> 
                  <img src="media/<%=item.img.substring(0,item.img.length-7)%>150.jpg">
                </div>
                <div class="news-week-1-desc">
                  <div class="news-week-1-title">
                    <h3><%=item.title%></h3>
                  </div>
                  <div class="news-week-1-p-more">
                    <div class="news-week-1-p">
                      <p>Opine</p>
                      <div class="news-week-1-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p><%=item.qtComments%></p>
                      </div>
                    </div>
                    <div class="news-week-1-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <%});%>
          </div>
        </section>
      </div>
      <aside> 
        <div class="aside-content">
          <div class="aside-title">
            <h3>As mais comentadas da semana no Fórum</h3>
          </div>
          <div class="aside-forum">
            <div class="aside-forum1">
              <div class="aside-forum1-person">
                <a href="">
                  <div class="aside-forum1-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum1-desc">
                <a href="">
                <div class="aside-forum1-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum1-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum1-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
                </a>
              </div>
  
            </div>
            <div class="aside-forum2">
              <div class="aside-forum2-person">
                <a href="">
                  <div class="aside-forum2-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum2-desc">
                <a href="">
                  <div class="aside-forum2-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum2-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum2-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum3">
              <div class="aside-forum3-person">
                <a href="">
                  <div class="aside-forum3-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum3-desc">
                <a href="">
                  <div class="aside-forum3-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum3-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum3-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum4">
              <div class="aside-forum4-person">
                <a href="">
                  <div class="aside-forum4-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum4-desc">
                <a href="">
                  <div class="aside-forum4-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum4-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum4-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum5">
              <div class="aside-forum5-person">
                <a href="">
                  <div class="aside-forum5-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum5-desc">
                <a href="">
                  <div class="aside-forum5-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum5-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum5-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </main>
  <%- include('../partials/footer') %>
