
  <%- include('../partials/header') %>
  <main>
    <div class="news-details container">
      <div class="news-details-subtitle"><p><%=news.subTitle%></p></div>
      <div class="news-details"><h1><%=news.title%></h1></div>
      <div class="news-details-img-video">
        <img src="/media/<%=news.img%>" alt="<%=news.title%>">
      </div>
      <div class="news-details-desc-aside">
        <div class="news-details-content-comment-desc">
          <div class="news-details-content">
            <% if (news.contentP1) { %>
            <p><%=news.contentP1%></p>
            <br>
            <% } %>
            <% if (news.contentP2) { %>
              <p><%=news.contentP2%></p>
              <br>
            <% } %>
            <% if (news.contentP3) { %>
              <p><%=news.contentP3%></p>
              <br>
            <% } %>
            <% if (news.contentP4) { %>
              <p><%=news.contentP4%></p>
              <br>
            <% } %>
            <% if (news.contentP5) { %>
              <p><%=news.contentP5%></p>
              <br>
            <% } %>
            <% if (news.contentP6) { %>
              <p><%=news.contentP6%></p>
              <br>
            <% } %>
            <% if (news.contentP7) { %>
              <p><%=news.contentP7%></p>
              <br>
            <% } %>
            <% if (news.video) { %>
              <p>Assista o video abaixo:</p>
              <iframe width="560" height="315" src="<%=news.video.replace('watch?v=','embed/')%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <br><br>
            <% } %>
            <% if (news.instagram1) { %>
              <p>Veja a postagem abaixo:</p>
              <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="<%=news.instagram1%>" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="<%=news.instagram1%>" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="<%=news.instagram1%>" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank"></a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
              <br><br>
            <% } %>
            <% if (news.instagram2) { %>
              <p>Veja a postagem abaixo:</p>
              <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="<%=news.instagram2%>" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="<%=news.instagram2%>" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="<%=news.instagram2%>" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank"></a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
              <br><br>
            <% } %>
            <% if (news.instagram3) { %>
              <p>Veja a postagem abaixo:</p>
              <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="<%=news.instagram3%>" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="<%=news.instagram3%>" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="<%=news.instagram3%>" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank"></a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
              <br><br>
            <% } %>
            <% if (news.instagram4) { %>
              <p>Veja a postagem abaixo:</p>
              <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="<%=news.instagram4%>" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="<%=news.instagram4%>" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Ver essa foto no Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="<%=news.instagram4%>" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank"></a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
              <br><br>
            <% } %>
            <br>
          </div>
          <% if (news.contentPreComment) { %>
            <div class="news-details-comment-desc">
              <p><%=news.contentPreComment%></p>
            <br>
            </div>
          <% } %>
          
          <div class="news-details-share">
            <p>Compartilhe esta notícia com seus amigos:</p>
            <div class="news-details-share-area-img">
              <a href="https://web.whatsapp.com/send?text=https://www.opiniaogospel.com.br/news/<%=news.title.split(' ').join('-')%>">
                <img src="/images/whatsapp.svg" alt="Compartilhar noticia por WhatsApp">
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.opiniaogospel.com.br/news/<%=news.title.split(' ').join('-')%>">
                <img src="/images/facebook.svg" alt="Compartilhar noticia pelo Facebook">
              </a>
            </div>
          </div>
          <div class="news-details-comments">
            <div class="news-details-comments-qt">
              <% if (comments.length>0) { %>
                <p><%=comments.length+responseComments.length%> Comentários</p>
                <br>
              <% } %>
              <% if (comments.length==0) { %>
                <p>Nenhum Comentário</p>
                <br>
              <% } %>
              
              <img src="/images/forum.svg" alt="">
            </div>
            <div class="news-details-comments-new">
              <div class="area-comments-new">
                <div class="area-comments-person">
                  <div class="area-comments-person-img">
                    <img src="/images/persona.png" alt="">
                  </div>
                </div>
                <div class="area-comments-content">
                  <input type="text" placeholder="Deixe seu comentário">
                  <img src="/images/send.png" alt="Enviar Comentário" data-item="<%=news.id%>">
                </div>
              </div>
              <div class="news-details-comments-pg">
                <div class="initial-pg">1</div>
                <div class="pg-prev"><img src="images/seta-expandir.png" alt="">anterior</div>
                <div class="pg-current">página <p>1</p></div>
                <div class="pg-next">próxima <img src="images/seta-expandir.png" alt=""></div>
                <div class="final-pg">1</div>
              </div>
              <div class="area-comments-users">
                <%comments.forEach(function(item){%>
                  <div class="area-comments-user">
                    <div class="area-comments-user-person">
                      <div class="area-comments-person-img">
                        <img src="/images/persona.png" alt="">
                      </div>
                    </div>
                    <div class="area-comments-user-content">
                      <div class="area-comments-user-content-info">
                        <div class="area-comments-user-name-complaint">
                          <div class="area-comments-user-name">
                            <h3><%=item.nameUserInComment%></h3> <div class="area-comments-user-name-date"><%=item.date.toString().slice(4,10)%></div>
                          </div>
                          <div class="area-comments-complaint " get-item="<%=item.id%>" data-item="<%=item.user_id%>">...
                            <div class="area-comments-complaint-options area-comments-complaint-none" get-item="<%=item.id%>">
                              <p class="denounce">Denunciar</p>
                              
                              <p class="edit">Editar</p>
                              <p class="del">Excluir</p>
                            </div>
                          </div>
                        </div>
                        <div class="area-comments-user-comment">
                          <p><%=item.comment%></p>
                        </div>
                      </div>
                      <div class="area-comments-user-like-dislike-resp" >
                        <div class="area-comments-user-like">
                          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"  data-item="<%=item.id%>">
                            <path  data-item="<%=item.id%>" d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>

                          <div class="area-comments-user-like-qt" data-item="<%=item.id%>"><%=item.qtLikes%></div>
                        </div>
                        <div class="area-comments-user-dislike">
                          <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 14V4M8 14L4 14V4.00002L8 4M8 14L13.1956 20.0615C13.6886 20.6367 14.4642 20.884 15.1992 20.7002L15.2467 20.6883C16.5885 20.3529 17.1929 18.7894 16.4258 17.6387L14 14H18.5604C19.8225 14 20.7691 12.8454 20.5216 11.6078L19.3216 5.60779C19.1346 4.67294 18.3138 4.00002 17.3604 4.00002L8 4" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          <div class="area-comments-user-dislike-qt">1</div>
                        </div>
                        <div class="area-comments-user-resp" get-item="<%=item.id%>">
                          <img src="/images/response.png" alt="" get-item="<%=item.id%>">
                          <p get-item="<%=item.id%>">Responder</p>
                        </div>
                      </div>
                      <div class="area-comments-reply-new area-comments-reply-new-none" get-item="<%=item.id%>">
                        <div class="area-comments-person">
                          <div class="area-comments-person-img">
                            <img src="/images/persona.png" alt="">
                          </div>
                        </div>
                        <div class="area-comments-content">
                          <input type="text" placeholder="Deixe sua resposta">
                          <img src="/images/send.png" alt="Enviar Comentário">
                        </div>
                      </div>
                    </div>
                  </div>
                <%});%>
                <%responseComments.forEach(function(item){%>
                  <div class="area-comments-user-response">
                    <div class="area-comments-user-person">
                      <div class="area-comments-person-img">
                        <img src="/images/persona.png" alt="">
                      </div>
                    </div>
                    <div class="area-comments-user-content">
                      <div class="area-comments-user-content-info">
                        <div class="area-comments-user-name-complaint">
                          <div class="area-comments-user-name">
                            <h3><%=item.nameUser%></h3> <div class="area-comments-user-name-date"><%=item.date.toString().slice(4,10)%></div>
                          </div>
                          <div class="area-comments-complaint " get-item="<%=item.id%>" data-item="<%=item.user_id%>">...
                            <div class="area-comments-complaint-options area-comments-complaint-none" get-item="<%=item.id%>">
                              <p class="denounce">Denunciar</p>
                              <p class="edit">Editar</p>
                              <p class="del">Excluir</p>
                            </div>
                          </div>
                        </div>
                        <div class="area-comment-user-desc">
                          <div class="area-comments-user-name">
                            <h3><%=item.userNameCommentReply%></h3> <div class="area-comments-user-name-date"><%=item.dateCommentReply.toString().slice(4,10)%></div>
                          </div>
                          <div class="area-comments-user-comment">
                            <p><%=item.userCommentReply%></p>
                          </div>
                        </div>
                        <div class="area-comments-user-response-content">
                          <p><%=item.comment_response%></p>
                        </div>
                      </div>
                      <div class="area-comments-user-like-dislike-resp">
                        <div class="area-comments-user-like">
                          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"  data-item="<%=item.id%>">
                            <path  data-item="<%=item.id%>" d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          <div class="area-comments-user-like-qt" data-item="<%=item.id%>"><%=item.qtLikes%></div>
                        </div>
                        <div class="area-comments-user-dislike">
                          <div class="area-comments-user-dislike-qt">1</div>
                          <img src="/images/dislike.svg" alt="">
                        </div>
                        <div class="area-comments-user-resp" get-item="<%=item.id%>">
                          <img src="/images/response.png" alt="" get-item="<%=item.id%>">
                          <p get-item="<%=item.id%>">Responder</p>
                        </div>
                      </div>
                      <div class="area-comments-reply-new area-comments-reply-new-none" get-item="<%=item.id%>">
                        <div class="area-comments-person">
                          <div class="area-comments-person-img">
                            <img src="/images/persona.png" alt="">
                          </div>
                        </div>
                        <div class="area-comments-content">
                          <input type="text" placeholder="Deixe sua resposta">
                          <img src="/images/send.png" alt="Enviar Comentário">
                        </div>
                      </div>
                    </div>
                  </div>
                <%});%>  
                <div class="area-comments-user">
                  <div class="area-comments-user-person">
                    <div class="area-comments-person-img">
                      <img src="images/persona.png" alt="">
                    </div>
                  </div>
                  <div class="area-comments-user-content">
                    <div class="area-comments-user-content-info">
                      <div class="area-comments-user-name-complaint">
                        <div class="area-comments-user-name">
                          <h3>BrunoFSabino</h3> <div class="area-comments-user-name-date">07 mar</div>
                        </div>
                        <div class="area-comments-complaint dlt_comment">...</div>
                      </div>
                      <div class="area-comments-user-comment ">
                        <p>Comentário removido.</p>
                      </div>
                    </div>
                    <div class="area-comments-user-like-dislike-resp">
                      <div class="area-comments-user-like">
                        <div class="area-comments-user-like-qt"></div>
                        <img src="images/like.svg" alt="">
                      </div>
                      <div class="area-comments-user-dislike">
                        <div class="area-comments-user-dislike-qt">1</div>
                        <img src="images/dislike.svg" alt="">
                      </div>
                      <div class="area-comments-user-resp">
                        <img src="images/response.png" alt="">
                        <p>Responder</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-details-comments-pg">
                <div class="initial-pg">1</div>
                <div class="pg-prev"><img src="images/seta-expandir.png" alt="">anterior</div>
                <div class="pg-current">página <p>1</p></div>
                <div class="pg-next">próxima <img src="images/seta-expandir.png" alt=""></div>
                <div class="final-pg">1</div>
              </div>
            </div>
          </div>
        </div>
        <aside> 
          <div class="aside-content">
            <div class="aside-title">
              <h3>As mais comentadas da semana no Fórum</h3>
            </div>
            <div class="aside-forum">
              <div class="aside-forum1">
                <div class="aside-forum1-person">
                  <div class="aside-forum1-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum1-desc">
                  <div class="aside-forum1-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum1-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum1-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
    
              </div>
              <div class="aside-forum2">
                <div class="aside-forum2-person">
                  <div class="aside-forum2-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum2-desc">
                  <div class="aside-forum2-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum2-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum2-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum3">
                <div class="aside-forum3-person">
                  <div class="aside-forum3-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum3-desc">
                  <div class="aside-forum3-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum3-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum3-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum4">
                <div class="aside-forum4-person">
                  <div class="aside-forum4-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum4-desc">
                  <div class="aside-forum4-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum4-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum4-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum5">
                <div class="aside-forum5-person">
                  <div class="aside-forum5-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum5-desc">
                  <div class="aside-forum5-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum5-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum5-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </aside>
      </div>
  </main>
  <script>
    
    
    const buttonLikeComment = document.querySelectorAll('.area-comments-user-like svg')
    const qtLikeComment = document.querySelectorAll('.area-comments-user-like-qt')

    const buttonSendComment = document.querySelector('.area-comments-new .area-comments-content img')
    const inputSendComment = document.querySelector('.area-comments-content input')

    buttonLikeComment.forEach(item => {
      item.addEventListener('click', a => {
        const id = item.getAttribute('data-item')
        const id2 = a.target.getAttribute('data-item')
        if(id === id2) {
          const fill = item.getAttribute('fill')
          if(fill == 'var(--orange-black)') {
            item.setAttribute("fill", "none")
            qtLikeComment.forEach(item => {
              const id3 = item.getAttribute("data-item")
              if(id2 === id3) {
                if(item.innerText != '' && item.innerText > 1) {
                  item.innerText = --item.innerText
                } else if (item.innerText == 1){
                  item.innerText = ''
                } else {
                  item.innerText = ''
                }
              }
            })
          } else {
            item.setAttribute("fill", "var(--orange-black)")
            qtLikeComment.forEach(item => {
              const id3 = item.getAttribute("data-item")
              if(id2 === id3) {
                item.innerText = ++item.innerText
                // if(item.innerText === '') {
                //   item.innerText = ++item.innerText
                // }
              }
            })
          }
        }
        
      })
    })



    buttonSendComment.addEventListener('click', item => {
      const id = item.target.getAttribute('data-item')
      sendComment(id)
    })
    function likeComment(item)  {
      console.log('clicou')
    }
    function sendComment(idPost) {
      if(inputSendComment.value != '' && inputSendComment.value.length > 1) {
          if(idPost) {
            sendCommentPost(localStorage.getItem('id'), idPost, inputSendComment.value )
          }
      }
    }
    async function sendCommentPost(id, idPost, comment) {
      const newComment = await fetch(`http://localhost:4000/comment/${id}/${idPost}/`, {
        method: 'POST',
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "Authorization": `Bearer ${localStorage.getItem('token')}`
        },
        body: new URLSearchParams({
          comment
        })
      })
      const json = await newComment.json()
      if(json.comment) {
        console.log(json)
        document.location.reload(); 
      }
    }
    setTimeout(()=> {
      const buttonReplyComment = document.querySelectorAll('.area-comments-user-resp')
      const replyComment = document.querySelectorAll('.area-comments-reply-new')
      const areaUploadComment = document.querySelectorAll('.area-comments-complaint ')
      const areaUploadCommentNone = document.querySelectorAll('.area-comments-complaint-none')
      
      const pDenounce = document.querySelectorAll('.denounce')
      const pEdit = document.querySelectorAll('.edit')
      const pDel = document.querySelectorAll('.del')

      

      buttonReplyComment.forEach(item => 
        item.addEventListener('click', item => {
        const id = item.target.getAttribute('get-item')
        openReplyComment(id)
      }))
      function openReplyComment(id) {
        replyComment.forEach(item => {
          const id2 = item.getAttribute('get-item')
          if(id === id2) {
            item.classList.toggle('area-comments-reply-new-none')
          }
        })
      }
      areaUploadComment.forEach(item => 
          item.addEventListener('click', item => {
          const id = item.target.getAttribute('get-item')
          const id3 = item.target.getAttribute('data-item')
          const id2 = localStorage.getItem('id')
          if(id2 === id3) {
            pEdit.forEach(item => item.style.display = 'block')
            pDel.forEach(item => item.style.display = 'block')
            pDenounce.forEach(item => item.style.display = 'none')
            // pDenounce.style.display = 'none'
          } else {
            pEdit.forEach(item => item.style.display = 'none')
            pDel.forEach(item => item.style.display = 'none')
            pDenounce.forEach(item => item.style.display = 'block')
          }
          openUploadComment(id)

      }))
      function openUploadComment(id) {
        areaUploadCommentNone.forEach(item => {
          const id2 = item.getAttribute('get-item')
          if(id === id2) {
            item.classList.toggle('area-comments-complaint-none')
          }
        })
      }

    }, 500)
    
  </script>
  <%- include('../partials/footer') %>
 