<%- include('../partials/header') %>
<main>
  <div class="area-forum-title container">
    <div class="modal-login-home2">
      <div class="modal-login-home-content2">
        <div class="modal-login-home-close2">
          <img src="/images/close.svg" alt="Fechar modal">
        </div>
        <h3></h3>
        <div class="modal-login-home-inputs">
          <div class="modal-news-comment"></div>
          <input type="text" placeholder="[Opcional]: Descreva o motivo da denúncia." name="textDenounce" class="textDenounce">
          <textarea name="textDescribeForum" id="" class="textDescribeForum" placeholder="Descreva a descrição do tópico: Ao criar uma descrição clara e objetiva do seu tópico, você estará incentivando um debate saudável e enriquecedor para todos os usuários do Opinião Gospel!"></textarea>
          <!-- <input type="text"  cols="30" rows="10" placeholder="Descreva a descrição do tópico: Ao criar uma descrição clara e objetiva do seu tópico, você estará incentivando um debate saudável e enriquecedor para todos os usuários do fórum." name="textDescribe" class="textDescribeForum">
          <div class="modal-login-home-inputs-p">
            <p>Seu e-mail:</p>
          </div>
          <input type="text" placeholder="Seu e-mail" name="email" class="email">
          <p class="notice-email"></p>
          <div class="modal-login-home-inputs-p-n">
            <p>Seu nome:</p>
          </div>
          <input type="text" placeholder="Digite seu nome" name="name" class="nameInput">
          <p class="notice-name"></p>
          <div class="modal-login-home-inputs-p-p">
            <p>Sua senha:</p>
          </div>
          <input type="password" placeholder="Sua senha" name="password" class="password">
          <p class="notice-password"></p>
          <div class="modal-login-home-inputs-p-p2">
            <p>Confirme sua senha:</p>
          </div>
          <input type="password" placeholder="Confirme sua senha"  name="password2" class="p2assword">
          <p class="notice-password2"></p> -->
        </div>
        <div class="modal-login-home-buttons">
          <button class="buttonDenounce">Denunciar</button>
          <button class="buttonEdit">Editar</button>
          <button class="buttonDelete">Deletar</button>
          <button class="buttonNewForum">Publicar</button>
        </div>
        
      </div>
      <div class="modal-login-home-content-close2"></div>
    </div>
    <div class="area-forum-area-buttons"><a href="/forum" class="btn-forum">Voltar ao Fórum</a><a href="" class="btn-newforum">Criar Novo Tópico</a></div>
    
    <h1><%=foruns.title%></h1>
    <div class="area-forum-title-name-user">Criado por: <%=foruns.name_user%></div>
    <p style="padding: 35px 15px; background-color: #fff;  border-radius: 15px; border: 1px solid var(--orange-black);"><%=foruns.description%></p>
  </div>
  <div class="area-forum-topics-aside container">
    <div class="news-details-share">
      <p>Compartilhe este tópico do fórum com seus amigos:</p>
      <div class="news-details-share-area-img">
        <img src="/images/whatsapp.svg" alt="Compartilhar noticia por WhatsApp">
        <img src="/images/facebook.svg" alt="Compartilhar noticia pelo Facebook">
      </div>
    </div>
    <section style="width: 100%;">
      <div class="area-forum-topics">
        <%- include('../partials/commentsForum') %>
        <aside> 
          <div class="aside-content">
            <div class="aside-title">
              <h3>As mais comentadas da semana no Fórum</h3>
            </div>
            <div class="aside-forum">
              <div class="aside-forum1">
                <div class="aside-forum1-person">
                  <div class="aside-forum1-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum1-desc">
                  <div class="aside-forum1-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum1-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum1-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
    
              </div>
              <div class="aside-forum2">
                <div class="aside-forum2-person">
                  <div class="aside-forum2-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum2-desc">
                  <div class="aside-forum2-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum2-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum2-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum3">
                <div class="aside-forum3-person">
                  <div class="aside-forum3-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum3-desc">
                  <div class="aside-forum3-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum3-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum3-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum4">
                <div class="aside-forum4-person">
                  <div class="aside-forum4-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum4-desc">
                  <div class="aside-forum4-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum4-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum4-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              <div class="aside-forum5">
                <div class="aside-forum5-person">
                  <div class="aside-forum5-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </div>
                <div class="aside-forum5-desc">
                  <div class="aside-forum5-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum5-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum5-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </aside>
      </div>
    </section>
  </div>
</main>
<script>
  
</script>

<%- include('../partials/footer') %>