<%- include('../partials/header') %>
<main>
  <div class="area-forum-title container">
    <div class="modal-login-home2">
      <div class="modal-login-home-content2">
        <div class="modal-login-home-close2">
          <img src="/images/close.svg" alt="Fechar modal">
        </div>
        <h3></h3>
        <div class="modal-login-home-inputs">
          <div class="modal-news-comment"></div>
          <input type="text" placeholder="[Opcional]: Descreva o motivo da denúncia." name="textDenounce" class="textDenounce">
          <textarea name="textDescribeForum" id="" class="textDescribeForum" placeholder="Descreva a descrição do tópico: Ao criar uma descrição clara e objetiva do seu tópico, você estará incentivando um debate saudável e enriquecedor para todos os usuários do Opinião Gospel!"></textarea>
          <!-- <input type="text"  cols="30" rows="10" placeholder="Descreva a descrição do tópico: Ao criar uma descrição clara e objetiva do seu tópico, você estará incentivando um debate saudável e enriquecedor para todos os usuários do fórum." name="textDescribe" class="textDescribeForum">
          <div class="modal-login-home-inputs-p">
            <p>Seu e-mail:</p>
          </div>
          <input type="text" placeholder="Seu e-mail" name="email" class="email">
          <p class="notice-email"></p>
          <div class="modal-login-home-inputs-p-n">
            <p>Seu nome:</p>
          </div>
          <input type="text" placeholder="Digite seu nome" name="name" class="nameInput">
          <p class="notice-name"></p>
          <div class="modal-login-home-inputs-p-p">
            <p>Sua senha:</p>
          </div>
          <input type="password" placeholder="Sua senha" name="password" class="password">
          <p class="notice-password"></p>
          <div class="modal-login-home-inputs-p-p2">
            <p>Confirme sua senha:</p>
          </div>
          <input type="password" placeholder="Confirme sua senha"  name="password2" class="p2assword">
          <p class="notice-password2"></p> -->
        </div>
        <div class="modal-login-home-buttons">
          <button class="buttonDenounce">Denunciar</button>
          <button class="buttonEdit">Editar</button>
          <button class="buttonDelete">Deletar</button>
          <button class="buttonNewForum">Publicar</button>
        </div>
        
      </div>
      <div class="modal-login-home-content-close2"></div>
    </div>
    <div class="area-forum-area-buttons"><a href="/forum" class="btn-forum">Voltar ao Fórum</a><a href="" class="btn-newforum">Criar Novo Tópico</a></div>
    
    <h1><%=foruns.title%></h1>
    <div class="area-forum-title-name-user"><a href="/userName/<%=foruns.nickName%>"> Criado por: <%=foruns.name_user%></a></div>
    <p style="padding: 35px 15px; background-color: #fff;  border-radius: 15px; border: 1px solid var(--orange-black);"><%=foruns.description%></p>
  </div>
  <div class="area-forum-topics-aside container">
    <div class="news-details-share">
      <p>Compartilhe este tópico do fórum com seus amigos:</p>
      <div class="news-details-share-area-img">
        <a href="https://web.whatsapp.com/send?text=https://www.opiniaogospel.com.br/forum/<%=foruns.title.split(' ').join('-')%>" target="_blank"><img src="/images/whatsapp.svg" alt="Compartilhar noticia por WhatsApp" ></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.opiniaogospel.com.br/forum/<%=foruns.title.split(' ').join('-')%>" target="_blank"><img src="/images/facebook.svg" alt="Compartilhar noticia pelo Facebook"></a>
      </div>
    </div>
    <section style="width: 100%;">
      <div class="area-forum-topics">
        <%- include('../partials/commentsForum') %>
        <aside> 
          <%- include('../partials/section-forum') %>
        </aside>
      </div>
    </section>
  </div>
</main>
<script>
  
</script>

<%- include('../partials/footer-forum') %>