
  <%- include('../partials/header') %>
  <main>
   
    <div class="main-news container">
      
      <% if (mainNews) { %>
        
      <div class="main-news-area1" getItem="<%=mainNews.id%>">
        <div class="main-news-subtitle"><p><%=mainNews.subTitle%></p></div>
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><div class="main-news-title"><h1><%=mainNews.title%></h1></div></a> 
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><div class="main-news-p"><p><%=mainNews.summaryParagraph%></p></div></a> 
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"> <div class="main-news-comment"><img src="images/forum.svg" alt="Faça um comentário na notícia">Comente!</div></a>
      </div>
      <div class="main-news-area2">
        <a href="/news/<%=mainNews.title.split(' ').join('-')%>"><img src="media/<%=mainNews.img%>" alt="<%=mainNews.title%>"></a>
      </div>
      <% } %>
    </div>
    
    <div class="area-sections-aside container">
      <div class="area-sections">
        <section class="slide ">
          <div class="slider">
            <div class="slider--controls">
                <div class="slider--control" onclick="goPrev()" ><img src="images/seta-expandir.png" style="rotate: 90deg;" alt=""></div>
                <div class="slider--control" onclick="goNext()"><img src="images/seta-expandir.png" style="rotate: -90deg;" alt=""></div>
            </div>
            <div class="slider--width">
              <%slideShow.forEach(function(item){%>
                
                <div class="slider--item slide-one" getItem="<%=item.id%>">
                  <a href="/news/<%=item.title.split(' ').join('-')%>" id="slide-<%=item.id%>">
                    <div class="slider--item-content-1" style="background-image: url('media/<%=item.img%>');">
                      <div class="slider--item-subtitle-1"><%=item.subTitle%></div>
                      <div class="slider--item-title-1">
                        <h2><%=item.title%></h2>
                      </div>
                    </div>
                  </a>
                </div>
              <%});%>
            </div>
          </div>
        </section>
        <section class="news-week">
          <div class="news-week-titlemain">
            Mais Notícias
          </div>
          <div class="news-week-content">
            <%newsShow.forEach(function(item){%>
            <div class="news-week-1" getItem="<%=item.id%>">
              <a href="/news/<%=item.title.split(' ').join('-')%>">
                <div class="news-week-1-img"> 
                  <img src="media/<%=item.img.substring(0,item.img.length-7)%>150.jpg">
                </div>
                <div class="news-week-1-desc">
                  <div class="news-week-1-title">
                    <h3>
                      <%if(item.title.length < 70) { %>
                        <%=item.title%>
                      <% } else { %> 
                        <%=item.title.substr(0,70)+"..."%>
                      <% } %> 
                    </h3>
                  </div>
                  <div class="news-week-1-p-more">
                    <div class="news-week-1-p">
                      <p>Opine</p>
                      <div class="news-week-1-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>
                          <% if (item.qtComments>0) { %>
                            <%=item.qtComments%>
                          <% } %>
                        </p>
                      </div>
                    </div>
                    <div class="news-week-1-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <%});%>
          </div>
        </section>
      </div>
      <aside> 
        <%- include('../partials/section-forum') %>
      </aside>
    </div>
  </main>
  <script>
    // function sliderr(){
      
    // }
    // sliderr()
    
  </script>
  <%- include('../partials/footer') %>
